{:deps true
 :builds {:lib {:target :browser
                :output-dir "resources/oz/public/js"
                :modules {:oz {:entries [oz.core]}}}
          :devcards {:target :browser
                     :output-dir "resources/oz/public/js"
                     :compiler-options {:devcards true}
                     :modules {:devcards {:init-fn oz.core-devcards/main}}}
          :app {:target :browser
                :compiler-options {:output-feature-set :es8}
                :output-dir "resources/oz/public/js"
                :modules {:app {:entries [oz.app]
                                :init-fn oz.app/init}}
                :devtools {:after-load oz.app/init}}}
 :dev-http {7125 ["resources/oz/public" "target/public"]}}
