/* some style */

@font-face {
    font-family: "LatinModernRomanWOFF";
    /*src: url('https://www.albany.edu/~hammond/webfonts/lmroman12-regular.woff');*/
    src: url('http://ozviz.io/fonts/lmroman12-regular.woff');
}

body {
  padding: 30px;
  font-size: 18px;
  line-height: 1.7em;
  font-family: 'Computer Modern Concrete', serif;
}

div#app {
  margin: 0;
  padding: 0;
}

blockquote {
  font-style: italic;
  font-family: 'Computer Modern Serif', serif;
  color: #606060;
}

h1, h2, h3, h4 {
  font-family: "Computer Modern Serif", serif;
  line-height: 1.4;
}

.bright {
  font-family: "Computer Modern Bright", sans-serif;
}
.concrete {
  font-family: "Computer Modern Concrete", serif;
}
.typewriter {
  font-family: "Computer Modern Typewriter", monospace;
}
.sans {
  font-family: "Computer Modern Sans", sans-serif;
}
.sans-serif {
  font-family: 'Open Sans', sans-serif;
}
.serif {
  font-family: 'Open Sans', sans-serif;
}

/* more semantic block styles */
.fancy {
  font-family: "Computer Modern Serif", serif;
}
.plain {
  font-family: "Computer Modern Sans", sans-serif;
}

h1 {
  font-size: 3rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 13px;
}

h4 {font-size: 1.25rem;}

code {
  line-height: 1.5;
  font-size: 1.0rem;
  color: #606060;
  margin-right: 4px;
  margin-left: 4px;
  font-family: "Computer Modern Typewriter", monospace;
}

pre {
  line-height: 1.5;
  font-size: 1.0rem;
  /*font-size: 1rem;*/
  color: #606060;
  font-family: "Computer Modern Typewriter", monospace;
}

a {
  color: darkblue;
}

div.vega-embed div.chart-wrapper {
  height: auto;
}

a:hover {
 cursor: pointer;
}


