/* some style */

@font-face {
    font-family: "LatinModernRomanWOFF";
    /*src: url('https://www.albany.edu/~hammond/webfonts/lmroman12-regular.woff');*/
    src: url('http://ozviz.io/fonts/lmroman12-regular.woff');
}

/* for math fonts? */
/*@font-face {*/
    /*font-family: "LatinModernMathWOFF";*/
    /*src: url('https://www.albany.edu/~hammond/webfonts/latinmodern-math.woff');*/
    /*font-weight: bold;*/
/*}*/


body {
  padding: 30px;
  line-height: 1.7;
  font-family: 'Open Sans', sans-serif;
}

div#app {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

blockquote {
  font-style: italic;
  color: #606060;
}

h1, h2, h3, h4 {
  font-family: "LatinModernRomanWOFF", serif;
  line-height: 1.4;
  /*font-family: 'Open Sans', sans-serif;*/
}

.fancy {
  font-family: "LatinModernRomanWOFF", serif;
}
.plain {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h2{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 15px;
}

h3 {
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 13px;
}

h4 {font-size: 18px;}

code {
  line-height: 1.5;
  font-size: 14.5px;
  color: #606060;
  margin-right: 4px;
  margin-left: 4px;
}

pre {
  line-height: 1.5;
  font-size: 14.5px;
  color: #606060;
}

a {
  color: darkblue;
}


